<ion-view class='bar-royal' view-title='Météo {{weather.city.name}}/{{weather.city.country}}'>
	<ion-content class='darkblue'>
		<div class='card padding oronge' ng-repeat='day in weather.list'>
			<div class='item item-divider'>
				{{day.dt*1000 | date: 'EEEE'}}
				{{day.dt*1000 | date: 'dd/MM'}}
			</div>
			<div class='row'>
				<div class='col'>
					Temperature
					{{day.temp.day}} °C
				</div>
	            <div class='col'>
					{{day.weather[0].description}}
				</div>
                <div class='col'>
                    Humidity {{day.humidity}} %
                </div>
			</div>
		</div>
		<div class="card">
		 	<div class="item item-text-wrap">
		    	<div id="chart"></div>
		  	</div>
		</div>
	</ion-content>
</ion-view>
