<ion-view ng-controller='WeatherCtrl' view-title='Météo {{weather.city.name}}/{{weather.city.country}}'>
	<ion-content>
		<ion-list class='card'>
			<ion-item class='item item-text-wrap' ng-repeat='day in weather.list'>
				{{day.dt*1000 | date: 'EEEE'}}
				{{day.dt*1000 | date: 'dd/MM'}}
				<br/>
				temperature
				{{day.temp.day}} °C
				<br/>
				<i class='icon-{{day.weather[0].main.toLowerCase()}}'></i><br/>
				{{day.weather[0].description}}
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
