<ion-view class='bar-royal' view-title='Météo {{weather.city.name}}/{{weather.city.country}}'>
	<ion-content>
		<div class='card'>
			<div class='item item-text-wrap' ng-repeat='day in weather.list'>
				{{day.dt*1000 | date: 'EEEE'}}
				{{day.dt*1000 | date: 'dd/MM'}}
				<br/>
				temperature
				{{day.temp.day}} °C
				<br/>
				<i class='icon-{{day.weather[0].main.toLowerCase()}}'></i><br/>
                <i class='ion-social-python'></i>
                {{day.weather[0].main.toLowerCase()}}
                <!--<div ng-switch="{{day.weather[0].main.toLowerCase()}}">-->
                    <div ng-show=" {{day.weather[0].main.toLowerCase()}}=='rain'">coucou?</div>re
                    <!--<div ng-switch-when="clear">areuh</div>re
                    <div ng-switch-default>default</div>re-->
                <!--</div>-->
				<i class='icon-sun'></i><br/>
				{{day.weather[0].description}}
			</div>
		</div>
	</ion-content>
</ion-view>
